{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class = "container bg-white">
<div class = "row justify-content-center">
<div class = "col-6 d-flex justify-content-center bg-light shadow-sm p-3 mb-5 bg-light rounded">
<h2>You're all caught up!</h2>

</div>
</div>
<div class = "row justify-content-center">
    <div class = "col-6 d-flex justify-content-center bg-light shadow-sm p-3 mb-5 bg-light rounded">
        <p>Your home feed will show posts from the accounts you follow from the last 7 days. If you need some
            accounts to follow, we suggest:<br>
        <a class ="link-st" href = "/user/markdoe">Mark Doe</a><br>
        <a class ="link-st" href = "/user/lisadoe">Lisa Doe</a><br>
        <a class ="link-st" href = "/user/johndoe">John Doe</a><br>
        <a class ="link-st" href = "/user/janedoe">Jane Doe</a><br>
        </p>


    </div>


</div>
</div>

{% endblock %}